/* Reset de estilos para remover margens e preenchimentos padrão */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilo global para a página */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #faebee; /* Cor de fundo rosa mais suave */
    display: flex;
   
    /* Centralizar verticalmente */
    min-height: 100vh; /* Garante que a página ocupe pelo menos a altura da tela */
}


